<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/cupcakes.css">
    <title>Cupcakes</title>
</head>
<body>
    <h1 class="title">Our cupcakes</h1>
    <div class="container">
        
        <div class="cupcakes-list">
            {% for cupcake in cupcakes %}
            <div class="cupcake">
                <div>
                    <img src="{{ cupcake.image }}" class="cupcake-image">
                    <p><b><a href="/cupcakes/{{cupcake.id}}" class="flavor">{{ cupcake.flavor }}</a></b>   <button class="delete-cupcake-btn" data-id="{{cupcake.id}}">X</button></p>
                    <p>Size: {{cupcake.size }}</p>
                    <p>Rating: {{ cupcake.rating }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="add-cupcake">
        <a href="/add-cupcake" class="add-cupcake-btn">Add a cupcake</a>
    </div>
</body>
<script src="http://unpkg.com/jquery"></script>
<script src="http://unpkg.com/axios/dist/axios.js"></script>
<script src="static/cupcakes.js"></script>
</html>